n8n/flows/ai_answer_flow.json
{
  "name": "AI分析・チャット応答フロー",
  "nodes": [
    {
      "name": "Webhook受信",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "path": "incoming-message",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "name": "Notion DB検索",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [480, 300],
      "parameters": {
        "url": "https://api.notion.com/v1/databases/{{ $env.NOTION_DATABASE_ID }}/query",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"filter\": {\n    \"property\": \"Name\",\n    \"rich_text\": { \n      \"contains\": \"{{ $json.body.text }}\" \n    }\n  },\n  \"sorts\": [{ \n    \"property\": \"CreatedAt\", \n    \"direction\": \"descending\" \n  }],\n  \"page_size\": 3\n}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "headerParametersJson": "{ \"Notion-Version\": \"2022-06-28\" }"
      },
      "credentials": {
        "notionApi": {
          "id": "={{ $env.NOTION_CREDENTIAL_ID }}",
          "name": "Notion API"
        }
      }
    },
    {
      "name": "前処理（Python）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [720, 300],
      "parameters": {
        "url": "http://python-api:5000/preprocess",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{ \n  \"query\": \"{{ $json.body.text }}\", \n  \"records\": {{ JSON.stringify($json.results) }} \n}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "name": "OpenAI: Completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [960, 300],
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{ \n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"あなたは役立つアシスタントです。\" },\n    { \"role\": \"user\", \"content\": \"{{ $json.cleaned_query }}\" }\n  ],\n  \"temperature\": 0.7\n}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openaiApi"
      },
      "credentials": {
        "openaiApi": {
          "id": "={{ $env.OPENAI_CREDENTIAL_ID }}",
          "name": "OpenAI API"
        }
      }
    },
    {
      "name": "Slack: 回答返信",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1200, 300],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $json.body.channel_id || $env.SLACK_CHANNEL }}",
        "text": "{{ $json.choices[0].message.content }}"
      },
      "credentials": {
        "slackApi": {
          "id": "={{ $env.SLACK_CREDENTIAL_ID }}",
          "name": "Slack API"
        }
      }
    },
    {
      "name": "エラーCatch",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [720, 500]
    },
    {
      "name": "Slackエラー通知",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [960, 500],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $env.SLACK_CHANNEL }}",
        "text": "AI応答フローでエラーが発生しました: {{ $json.message }}"
      },
      "credentials": {
        "slackApi": {
          "id": "={{ $env.SLACK_CREDENTIAL_ID }}",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Webhook受信": {
      "main": [
        [
          {
            "node": "Notion DB検索",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion DB検索": {
      "main": [
        [
          {
            "node": "前処理（Python）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "前処理（Python）": {
      "main": [
        [
          {
            "node": "OpenAI: Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Completion": {
      "main": [
        [
          {
            "node": "Slack: 回答返信",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "エラーCatch": {
      "main": [
        [
          {
            "node": "Slackエラー通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
} 